body {background: url(https://p4.wallpaperbetter.com/wallpaper/933/827/743/pokemon-pixel-art-wallpaper-preview.jpg);  color: rgb(0, 0, 0); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    padding: 50px 100px;
}
#tituloPokemon {
    color: yellow;
}
h1{
    display:flex;
    justify-content: center;
}
.card {
    text-align: center;
    width: 250px;
    height: 350px;
    float: left;
}
#sq {
    background-color: aqua;
}
#bul {
    background-color: green;
}
#ch {
    background-color: orange;
}
#pi {
    background-color: yellow;
}
.textoChicoCarta{
    color: black;
}
.card-img-top{
    width: 200px;
    height: 200px;
}
.Planta {
    color: green;
}
.Fuego {
    color: red;
}
.Volador {
    color: skyblue;
}
.Agua {
    color: blue;
}
.Bicho {
    color: greenyellow;
}
.Veneno {
    color: violet;
}